
.container{
    margin: 25px;
    height:100vh;
    border: 1px solid #000;

}
.row{

    display:flex;
}
.main{
    width:75%;
    border:1px solid #000;
    text-align: right;
}
.sidebar{
    width: 25%;
    text-align: right;

    border:1px solid #000;

}